<header>
  <h1>Welcome to the Tasklist</h1>
  <p> Here are the things to do<p>
  </header>


  <main class = "main-container">

    <ul class ="buttons">
      <li>
          <%= link_to("Add a new Task", new_task_path) %>
      </li>
    </ul>


    <ul>
      <% @tasks.each do |task| %>
        <% if task.completion_date == nil %>
          <aside class = "not-complete">
          <li class = "name">
             <strong><%= task.name %></strong>
          </li>
          <li class = "sub-list"> Description: <%= task.description
          %></li>
          <li class = "sub-list"> Status: <%= task.status
          %></li>
          <li class = "sub-list"> Priority: <%= task.priority
          %></li>
          <li class = "sub-list"> Start Date <%= task.start_date
            %></li>

          <%= link_to("Mark as Complete", complete_task_path(task), method: :patch) %>

          <%= link_to("View", task_path(task.id)) %>
          <%= link_to("Edit", edit_task_path(task)) %>
          <%= link_to("Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete Task #{task.name}?"})%>
          </aside>
        <% else %>
            <aside class = "complete">
             <li class = "task-name">
                 <strong><%= task.name %></strong>
             <li class = "sub-list"> Description: <%= task.description
                 %></li>
             <li class = "sub-list"> Status: <%= task.status
                 %></li>
             <li class = "sub-list"> Priority: <%= task.priority
                 %></li>
              <li class = "sub-list"> Start Date <%= task.start_date
                   %></li>

               <%= link_to("Unmark as Complete", uncomplete_task_path(task), method: :patch) %>
                <%= link_to("View", task_path(task.id)) %>
                <%= link_to("Edit", edit_task_path(task)) %>

                <%= link_to("Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete Task #{task.name}?"})%>
              </aside>
         <% end %>
      <% end %>
    </ul>

  </main>
