
  <strong><%= @task.name %></strong>
  <li class = "sub-list"> Description: <%= @task.description
  %></li>
  <li class = "sub-list"> Status: <%= @task.status
  %></li>
  <li class = "sub-list"> Priority: <%= @task.priority
  %></li>
  <li class = "sub-list"> Start Date <%= @task.start_date%>
  </li>
  <% if @task.completion_date != nil %>
    <li class = "sub-list"> Completion Date <%=@task.completion_date%>
    </li>
   <%end%>
  <li>
    <%= link_to("Go back to all tasks", tasks_path) %>
  </li>
